export(addRegime, collapseRegimes, convertBack, convertTreeData)
export(getAIC, getBranchTimes, nameNodes, npSurface, ouchDescendants)
export(pmcSurface, propRegMatch, repaint, runSurface, startingModel)
export(surfaceAICPlot, surfaceBackward, surfaceForward, surfaceSimulate) 
export(surfaceSummary, surfaceTraitPlot, surfaceTreePlot)
import(ape)
import(ouch)
import(geiger)
import(igraph)
import(pmc)