export(addRegime, collapseRegimes, convertBack, convertTreeData)
export(getAIC, getBranchTimes, nameNodes, npSurface, ouchDescendants)
export(propRegMatch, repaint, runSurface, startingModel)
export(surfaceAICMultiPlot, surfaceAICPlot, surfaceBackward, surfaceForward) 
export(surfaceSimulate, surfaceSummary, surfaceTraitPlot, surfaceTreePlot)
import(ape, ouch, MASS, geiger)
