export(addRegime, collapseRegimes, convertBack, convertTreeData)
export(getAIC, getBranchTimes, nameNodes, npSurface, ouchDescendants)
export(propRegMatch, repaint, runSurface, startingModel)
export(surfaceAICMultiPlot, surfaceAICPlot, surfaceBackward, surfaceForward) 
export(surfaceSimulate, surfaceSummary, surfaceTraitPlot, surfaceTreePlot)
import(ape, ouch, MASS, geiger)
importFrom("grDevices", "grey", "rainbow")
importFrom("graphics", "abline", "points", "polygon")
importFrom("methods", "as")
importFrom("stats", "rmultinom", "rnorm", "runif", "sd", "var")